.contact-section {
  padding-left: 0px;
  padding-right: 0px;
}

.contact-banner {
  background-color: #512e6d;
  position: relative;
  color: #fff;
  padding: 24px;

  .contact-title {
    color: #fff;
    margin-bottom: 12px;
    color: #fff;
  }

  .contact-text {
    margin-bottom: 24px;
  }

  .contact-bg-icon {
    position: absolute;
    top: 12px;
    right: 24px;
  }
}
