.home-container {
  background-color: white;

  .content-container {
    background-color: white;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.section-container {
  position: relative;
  width: 100%;
  padding: 64px 0;

  @media screen and (max-width: 768px) {
    padding: 32px 0;
  }

  .section-header {
    margin-bottom: 32px;
  }

  .section-description {
    color: #333;
  }
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.396px;
  margin-bottom: 0;

  @media screen and (max-width: 768px) {
    font-size: 28px;
  }
}

.subtitle1 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.45px;
}

.body2 {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.154px;
}

.semi-bold {
  font-weight: 600;
}

.styled-button {
  display: flex;
  align-items: center;
  color: #fff;
  border-color: #fff;
  padding: 10px 16px;
  border-radius: 20px;
  text-transform: capitalize;
  font-weight: 400;
  width: fit-content;
  border: 1px solid #fff;
  cursor: pointer;

  .styled-button-icon {
    margin-right: 8px;
  }

  &:hover {
    background-color: #fff;
    color: #000;
  }

  &:active {
    background-color: #fff;
    color: #000;
    opacity: 0.8;
  }

  &:active .styled-button-icon {
    filter: invert(1);
  }

  &:hover .styled-button-icon {
    filter: invert(1);
  }
}
