<script>$('#site-header').show();</script>
<div class="container new-request-container">
  <div class="container-wrapper">
    <div class="row clearfix">
      <div class="col col-sm-8">
        <h1 class="request-title">{{t 'submit_a_request'}}</h1>
        
        {{#if parent}}
        <p>
          <span class="follow-up-hint">
            {{follow_up}}
          </span>
        </p>  
        {{/if}}

        <div class="request-form">
          {{request_form}}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    let form = document.getElementById('new_request')
    let links = form.getElementsByTagName('a')
    console.log(links)

    for (let i = 0; i < links.length; i++) {
      links[i].target = '_blank'
    }
  })
</script>